<launch>

  <arg name="no_moveit" default="false"/>

  <group if="$(arg no_moveit)">

    <node pkg="roport" type="roport_task_scheduler" name="roport_task_scheduler" output="screen">
      <param name="tree_file" value="$(find roport)/tree/shenzhen_demo_no_moveit.xml" />
    </node>

  </group>

  <group unless="$(arg no_moveit)">

    <node pkg="roport" type="roport_task_scheduler" name="roport_task_scheduler" output="screen">
      <param name="tree_file" value="$(find roport)/tree/shenzhen_demo_static_collision.xml" />
    </node>

  </group>

</launch>
