<launch>

  <arg name="single_loop" default="true"/>
  <arg name="full_collision_avoidance" default="false"/>

  <param name="/use_sim_time" value="true"/>

  <node pkg="roport" type="roport_moveit_server.py" name="roport_moveit_server" output="screen">
    <rosparam param="group_names">['arm']</rosparam>
    <rosparam param="ee_links">['tcp']</rosparam>
  </node>

  <node name="palletizing_helper" pkg="roport" type="palletizing_helper.py" respawn="false" output="screen">

    <!-- Whether force the A face (the largest face) downside when placing the box -->
    <param name="force_flat" value="false" />

    <!-- Object params [dim_x, dim_y, dim_z] -->
    <!--  Shenzhen scene, only small box (the name small_box should not be changed) -->
    <rosparam>
      small_box: [0.47, 0.3, 0.08]
    </rosparam>
    <!--  HK scene, both large and small boxes  -->
    <!--    <rosparam>-->
    <!--      large_box: [0.52, 0.4, 0.2]-->
    <!--      small_box: [0.47, 0.3, 0.08]-->
    <!--    </rosparam>-->

    <!-- Pallet params -->
    <!-- For each pallet, the params are [tx, ty, tz, scx, scy, mx, my], where t_ for translation wrt robot base -->
    <!-- sc_ for start corner wrt pallet center when placing the boxes, m_ for margin between boxes -->

    <!--  Shenzhen scene, only one pallet on the right side of the robot -->
    <rosparam>
      right_pallet: [0, -1.2, 0.113, -1, -1, 0.01, 0.01]
    </rosparam>
    <!--  HK scene, 2 pallets on both sides of the robot -->
    <!--    <rosparam>-->
    <!--      left_pallet: [0, 1, 0, -1, 1, 0.02, 0.02]-->
    <!--      right_pallet: [0, -1, 0, -1, -1, 0.02, 0.02]-->
    <!--    </rosparam>-->

    <!-- By default, large box goes to left pallet, small box to the right -->

    <param name="pallet_length" value="1.2" />
    <param name="pallet_width" value="0.8" />
    <param name="pallet_height_limit" value="1" />
    <param name="pallet_padding" value="0.02" />

    <!-- Box bottom space when placing to pallet -->
    <param name="z_spacing" value="0.01" />

    <!--  wrt robot base frame mz_link0  -->
    <param name="conveyor_height" value="0.29" />

    <!-- Pick and place params [x, y, z] wrt robot base frame -->
    <rosparam param="pre_pick_offset">[-0.5, 0, 0.4]</rosparam>
    <rosparam param="pre_place_offset">[0, 0, 0.3]</rosparam>
  </node>


</launch>