<launch>

  <arg name="full_collision_avoidance" default="false"/>
  <arg name="default_world" default="true"/>

  <param name="/use_sim_time" value="true"/>

  <node pkg="roport" type="roport_moveit_server.py" name="roport_moveit_server" output="screen">
    <rosparam param="group_names">['arm']</rosparam>
    <rosparam param="ee_links">['tcp']</rosparam>
  </node>

  <group if="$(arg default_world)">
    <node name="palletizing_helper" pkg="roport" type="palletizing_helper.py" respawn="false" output="screen">
      <rosparam command="load" file="$(find roport)/config/sim_helper_default.yaml"/>
    </node>
  </group>

  <group unless="$(arg default_world)">
    <node name="palletizing_helper" pkg="roport" type="palletizing_helper.py" respawn="false" output="screen">
      <rosparam command="load" file="$(find roport)/config/sim_helper_shenzhen.yaml"/>
    </node>
  </group>


  <group if="$(arg full_collision_avoidance)">
    <node pkg="roport" type="roport_task_scheduler" name="roport_task_scheduler" output="screen">
      <param name="tree_file" value="palletizing_sim_full_collision.xml" />
    </node>
  </group>

  <group unless="$(arg full_collision_avoidance)">
    <group if="$(arg default_world)">
      <node pkg="roport" type="roport_task_scheduler" name="roport_task_scheduler" output="screen">
        <param name="tree_file" value="$(find roport)/tree/palletizing_sim_static_collision.xml" />
      </node>
    </group>

    <group unless="$(arg default_world)">
      <node pkg="roport" type="roport_task_scheduler" name="roport_task_scheduler" output="screen">
        <param name="tree_file" value="$(find roport)/tree/shenzhen_sim_static_collision.xml" />
      </node>
    </group>
  </group>


</launch>